{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Add Team{% endblock %}

{% block content %}
    {% if error_msg %}
        <div class="alert alert-warning">
            {{ error_msg }}
        </div>
    {% endif %}
    <form action="/add_team/" method="post">
        {% csrf_token %}
        <!--
            for using crispy form like under this line
            you don't need to create submit field
        -->
        <!--{% crispy form %}-->
        <div class="row">
            <div class="col-6">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-6"></div>
            <div class="col-6">
                {{ form.details }}
            </div>
        </div>
        <input type="submit" class="btn btn-success" value="Add Team">
    </form>
{% endblock %}