{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Add Team{% endblock %}

{% block content %}
    {% if error_msg %}
        <div class="alert alert-warning">
            <p class="">{{ error_msg }}</p>
        </div>
    {% endif %}
    <form action="/add_team/" method="post">
        {% csrf_token %}
        <!--{{ form|crispy }}-->
        <!--<button type="submit" class="btn btn-success">Add team</button>-->

        <div class="row">
            <div class="col-4">
                {{ form.name|as_crispy_field }}
            </div>
            <div class="col-8"></div>
            <div class="col-4">
                {{ form.details|as_crispy_field }}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Add Team</button>
    </form>
{% endblock %}