{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title %}Matches result{% endblock %}

{% block content %}
    <!--<div class="row">-->
        <!--<div class="col-4"></div>-->
        <!--<div class="col-4">-->
            <!--<a href="/add_score/" class="btn btn-success btn-lg btn-block">Add Score</a>-->
        <!--</div>-->
        <!--<div class="col-4"></div>-->
    <!--</div>-->
    <div class="content-center">
        <img class="icon-width" src="{% static 'images/ic_game_score.png' %}" alt="game_score_img"/>
    </div>

    <div class="content-center">
        {% include 'add_score.html' %}
    </div>

    <div class="content-center">
        <br><br>
        {% for score in scores %}
            <h2><a href="/team/{{ score.first_team_relation.name }}">{{ score.first_team_relation.name }}</a> vs <a href="/team/{{ score.second_team_relation.name }}">{{ score.second_team_relation.name }}</a></h2>
            <h3>{{ score.first_team_score }} - {{ score.second_team_score }}</h3>
            {% ifchanged %}
                <h3><small>{{ score.game_date | date:'d - m - y' }}</small></h3>
            {% endifchanged %}
        {% endfor %}
    </div>
{% endblock %}